In [1]:
pip install pandas openpyxl

Requirement already satisfied: pandas in /usr/local/lib/python3.11/dist-packages (2.2.2)
Requirement already satisfied: openpyxl in /usr/local/lib/python3.11/dist-packages (3.1.5)
Requirement already satisfied: numpy>=1.23.2 in /usr/local/lib/python3.11/dist-packages (from pandas) (2.0.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.11/dist-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.11/dist-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.11/dist-packages (from pandas) (2025.2)
Requirement already satisfied: et-xmlfile in /usr/local/lib/python3.11/dist-packages (from openpyxl) (2.0.0)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.11/dist-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

In [2]:
import pandas as pd
from datetime import datetime

In [8]:
df = pd.read_excel("DS Internship - EDA - Data.xlsx")

In [9]:
# Convert relevant columns
df['Store Modification Date'] = pd.to_datetime(df['Store Modification Date'], errors='coerce')

In [13]:
# Question 1:
q1 = df.groupby('Year')['Sales'].sum().reset_index()
print("Total Sales by Year:\n", q1)

Total Sales by Year:
    Year         Sales
0  2015  1.627585e+09
1  2016  1.843939e+09
2  2017  1.651322e+09
3  2018  1.492340e+09
4  2019  1.471963e+09
5  2020  6.510899e+07

In [14]:
# Question 2:
q2 = df[df['Year'] == 1991]['Store'].nunique()
print("\nNumber of stores opened in 1991:", q2)

Number of stores opened in 1991: 0

In [15]:
# Question 3:
q3 = df[df['Store Modification'].notnull()]['Store'].nunique()
print("\nNumber of remodeled stores:", q3)

Number of remodeled stores: 830

In [18]:
# Question 4:
correlation = df['Sales'].corr(df['Total Sq Ft'])
print(correlation)

0.13922544019446748

In [19]:
# Question 5:
q5 = df.groupby('Super Division')['Sales'].sum().reset_index().sort_values(by='Sales', ascending=False)
most_profitable = q5.iloc[0]
print(most_profitable['Super Division'])

GIRLS

In [20]:
# Question 6:
q6 = df[df['Store Close'].isnull()]['Store'].nunique()
print(q6)

0

In [21]:
# Question 7:
q7 = df.groupby('Super Division')['Total Sq Ft'].mean().reset_index().sort_values(by='Total Sq Ft', ascending=False)
largest_avg_sqft = q7.iloc[0]
print(largest_avg_sqft['Super Division'])

KIDS

ADVANCED INSIGHTAS

In [22]:
# Question 8:
active_stores = df[df['Store Close'].isnull()]
state_summary = active_stores.groupby('State').agg(
    avg_sales=('Sales', 'mean'),
    avg_sqft=('Total Sq Ft', 'mean'),
    store_count=('Store', 'nunique')
).reset_index()
q8 = state_summary.sort_values(by=['avg_sales', 'avg_sqft'], ascending=False).head(3)
print(q8[['State', 'avg_sales', 'avg_sqft']])

Empty DataFrame
Columns: [State, avg_sales, avg_sqft]
Index: []

In [23]:
# Question 9:
q9 = df.groupby('Month')['Sales'].mean().reset_index().sort_values(by='Sales', ascending=False)
print(q9)

    Month         Sales
11     12  63392.905721
7       8  57362.934328
2       3  48179.098097
10     11  47063.812595
6       7  45525.699765
3       4  43248.803190
5       6  42861.734267
4       5  41712.454066
1       2  40888.945072
8       9  39106.330348
9      10  38728.562158
0       1  31716.908792

In [24]:
# Question 10
closure_by_type = df[df['Store Close'].notnull()].groupby('Outlet Type')['Store'].nunique().reset_index()
closure_by_type.columns = ['Outlet Type', 'Closed Stores']
print( closure_by_type)

  Outlet Type  Closed Stores
0        Mall            383
1      Outlet            110
2       Strip            337