Question 1-6(SALES DATA)

In [1]:
import pandas as pd
from datetime import datetime

In [7]:
sales_df = pd.read_excel('SalesData.xlsx')

In [11]:
# Question 1
q1 = sales_df.groupby('Item')['Sale_amt'].min().reset_index()
print(q1)

           Item  Sale_amt
0    Cell Phone    3375.0
1          Desk     250.0
2  Home Theater    2000.0
3    Television    8386.0
4   Video Games     936.0

In [12]:
# Question 2
sales_df['OrderDate'] = pd.to_datetime(sales_df['OrderDate'])
sales_df['Year'] = sales_df['OrderDate'].dt.year
q2 = sales_df.groupby(['Year', 'Region'])['Sale_amt'].sum().reset_index()
print(q2)

   Year   Region  Sale_amt
0  2018  Central  479825.0
1  2018     East  293780.0
2  2018     West  105424.0
3  2019  Central  349944.5
4  2019     East   27227.0
5  2019     West   49475.0

In [14]:
# Question 3
reference_date = datetime.now()
sales_df['days_diff'] = (reference_date - sales_df['OrderDate']).dt.days
print(sales_df[['OrderDate', 'days_diff']].head())

   OrderDate  days_diff
0 2018-01-06       2693
1 2018-01-23       2676
2 2018-02-09       2659
3 2018-02-26       2642
4 2018-03-15       2625

In [15]:
# Question 4
q4 = sales_df.groupby('Manager')['SalesMan'].unique().reset_index()
q4.columns = ['Manager', 'list_of_salesmen']
print(q4)

   Manager            list_of_salesmen
0  Douglas      [Michael, Karen, John]
1  Hermann       [Shelli, Luis, Sigal]
2   Martha  [Alexander, Steven, Diana]
3  Timothy            [David, Stephen]

In [16]:
# Question 5
q5 = sales_df.groupby('Region').agg(
    salesmen_count=('SalesMan', pd.Series.nunique),
    total_sales=('Sale_amt', 'sum')
).reset_index()
print(q5)

    Region  salesmen_count  total_sales
0  Central               6     829769.5
1     East               3     321007.0
2     West               2     154899.0

In [17]:
# Question 6
total_sales = sales_df['Sale_amt'].sum()
q6 = sales_df.groupby('Manager')['Sale_amt'].sum().reset_index()
q6['percent_sales'] = (q6['Sale_amt'] / total_sales) * 100
q6 = q6[['Manager', 'percent_sales']]
print(q6)

   Manager  percent_sales
0  Douglas      18.308990
1  Hermann      27.963188
2   Martha      36.187629
3  Timothy      17.540193

Q7-10 (Imdb data)

In [19]:
imdb_df = pd.read_csv('imdb.csv', on_bad_lines='skip')

In [21]:
# Question 7
q7 = imdb_df.iloc[4]['imdbRating']
print(q7)

8.7

In [24]:
#Question 8
min_title = imdb_df.loc[imdb_df['duration'].idxmin(), 'title']
max_title = imdb_df.loc[imdb_df['duration'].idxmax(), 'title']
print("Title with shortest duration:", min_title)
print("Title with longest duration:", max_title)

Title with shortest duration: Traffic Crossing Leeds Bridge (1888)
Title with longest duration: Baseball The National Pastime (TV Episode 1994)

In [27]:
# Question 9:
q9 = imdb_df.sort_values(by=['year', 'imdbRating'], ascending=[True, False])
print("\nQuestion 9: Sorted by year and rating")
print(q9[['title', 'year', 'imdbRating']].head())

Question 9: Sorted by year and rating
                                        title    year  imdbRating
13605            Roundhay Garden Scene (1888)  1888.0         7.8
13282    Traffic Crossing Leeds Bridge (1888)  1888.0         7.2
6705                  Blacksmith Scene (1893)  1893.0         6.3
12316  Dickson Experimental Sound Film (1894)  1894.0         6.8
6706            The Kiss in the Tunnel (1899)  1899.0         5.9

In [28]:
# Question 10:
q10 = imdb_df[(imdb_df['duration'] >= 1800) & (imdb_df['duration'] <= 10800)]
print("\nQuestion 10: Movies with duration between 30 and 180 mins")
print(q10[['title', 'duration']].head())

Question 10: Movies with duration between 30 and 180 mins
                              title  duration
0  Der Vagabund und das Kind (1921)    3240.0
1                 Goldrausch (1925)    5700.0
2                 Metropolis (1927)    9180.0
3                Der General (1926)    6420.0
4      Lichter der Großstadt (1931)    5220.0

Q11-15(Diamonds data)

In [29]:
# Question 11
q11 = diamonds_df.duplicated().sum()
print(q11)

149

In [30]:
# Question 12
q12 = diamonds_df.dropna(subset=['carat', 'cut'])
print(q12)

      carat        cut color clarity  depth  table   price     x     y     z
0      0.23      Ideal     E     SI2   61.5   55.0   326.0  3.95  3.98  2.43
1      0.21    Premium     E     SI1   59.8   61.0   326.0  3.89  3.84  2.31
2      0.23       Good     E     VS1   56.9   65.0   327.0  4.05  4.07  2.31
3      0.29    Premium     I     VS2   62.4   58.0   334.0  4.20  4.23  2.63
4      0.31       Good     J     SI2   63.3   58.0   335.0  4.34  4.35  2.75
...     ...        ...   ...     ...    ...    ...     ...   ...   ...   ...
53938  0.72      Ideal     D     SI1   60.8   57.0  2757.0  5.75  5.76  3.50
53939  0.72       Good     D     SI1   63.1   55.0  2757.0  5.69  5.75  3.61
53940   0.7  Very Good     D     SI1   62.8   60.0  2757.0  5.66  5.68  3.56
53941  0.86    Premium     H     SI2   61.0   58.0  2757.0  6.15  6.12  3.74
53942  0.75      Ideal     D     SI2   62.2   55.0  2757.0  5.83  5.87  3.64

[53941 rows x 10 columns]

In [31]:
# Question 13
q13 = diamonds_df.select_dtypes(include=['number'])
print(q13)

       depth  table   price     x     y     z
0       61.5   55.0   326.0  3.95  3.98  2.43
1       59.8   61.0   326.0  3.89  3.84  2.31
2       56.9   65.0   327.0  4.05  4.07  2.31
3       62.4   58.0   334.0  4.20  4.23  2.63
4       63.3   58.0   335.0  4.34  4.35  2.75
...      ...    ...     ...   ...   ...   ...
53938   60.8   57.0  2757.0  5.75  5.76  3.50
53939   63.1   55.0  2757.0  5.69  5.75  3.61
53940   62.8   60.0  2757.0  5.66  5.68  3.56
53941   61.0   58.0  2757.0  6.15  6.12  3.74
53942   62.2   55.0  2757.0  5.83  5.87  3.64

[53943 rows x 6 columns]

In [34]:
# Question 14
diamonds_df['volume'] = diamonds_df.apply(lambda x: x['x'] * x['y'] * x['z'] if x['depth'] > 60 else 8, axis=1)

In [35]:
# Question 15
diamonds_df['price'] = diamonds_df['price'].fillna(diamonds_df['price'].mean())